/* general styles */
html
{
	margin: 0;
	padding 0;
	background-color: hsl(36, 100%, 98%);
}

body
{
	font-family:Verdana;
	font-size:16px;
	margin:0;
	padding:0;
}

/* image styles */
img
{
	width: 100%;
}

/* list styles */
ul.emphasis
{
	height:100%;
	width: inherit;;
	max-width: 650px;
	margin-left: 2em;
	margin-right: 2em;
}

ul
{
	margin-right:0;
	font-family: sans-serif;
	font-size: 1.2em;
	padding-top: 1em;
	padding-bottom: 1em;
	color: darkslategrey;
}

/* link styles */
a.emphasis
{
	clear: inherit;
	text-align: center;
	float: left;
	background-color:dodgerblue;
	width:120px;
	height:70px;
	padding: 1em;
	padding-top: 25px;
	padding-bottom: 0;
	margin: 1em;
	margin-top: 0;
	margin-left: 3em;
	font-weight: bold;
	text-decoration: none;
	color:white;
}

a.nav_menu
{
	border-left: 10px solid whitesmoke;
	color: whitesmoke;
	text-align: middle;
	text-decoration: none;
	display: inline-block;
	padding-top:0.4em;
	height: 1.7em;
	width: 330px;
	padding-left: 20px;
}

a.selected
{
	color: #f16764;
	width: 330px;
	background-color:whitesmoke;
}

/* text styles */
p.emphasis
{
	background-color:lightgrey;
	width:100%;
	max-width: 600px;
	margin: 0;
	padding-bottom: 0;
	margin-left:0;
}

p.emphasis_address
{
	display:inline-table;
	padding-top:1em;
	height:100px;
	width: 200px;
	font-size: 1em;
}

p.title
{
	font-size: 2.5vh;
	padding:3vw;
	padding-bottom:0;
	padding-top:1vw;
}

p.normal
{
	margin-left: 2em;
	padding: 1em;
	padding-left: 0.5em;
	padding-bottom:0;
	padding-top:0;
	width: inherit;
	max-width: 992px;
}

p.footer
{
	margin:0;
	padding:1em;
	padding-left:2em;
	bottom:0;
	color:darkslategrey;
	font-size: 1.3em;
}

h3
{
	color:darkslategrey;
	font-size: 1.5em;
	margin-left: 2.4em;
}

h2
{
	width:auto;
	font-size: 2em;
}

h1
{
	margin:1em;
	color:darkslategrey;
}

p
{
	padding-left:1em;
	font-family: sans-serif;
	font-size: 1.25em;
	padding-top: 1em;
	color: darkslategrey;
}

/* div styles */
div.footer
{

	float:left;
	height:10em;
	width:100%;
	padding:0;
	margin-top:5em;
}

div.container
{
	width:100%;
	margin:0;
	padding:0;
}

div.left-menu
{
	position:fixed;
	background-color: hsl(1, 94%, 60%);
	color: whitesmoke;
	height: 100%;
	width: 360px;
	min-height: 660px;
}

div.right-contents
{
	margin-left: 360px;
	float:left;
	padding:0;
	width:inherit;
}

div.text
{
	float: left;
	width: inherit;
	max-width: 400px;
	padding: 2em;
	padding-top:0;
}

div.text2
{
	padding-left: 2.3em;
	padding-right:2em;
}

div.float
{
	float: left;
	width: 100%;
	padding: 2em;
	padding-top:0;
}

/* special styles */
mission
{
	margin-left: 3vh;
	font-family: sans-serif;
	font-size: 1.5em;
	background-color: gold;
	border-radius: 12px;
	border: 10px solid gold;
	padding: 0.5vh;
	text-align: center;
	color: darkslategrey;
	font-weight: 800;
}

/* table styles */
table
{
	margin-top: inherit;
	float:left;
	padding-left:1em;
	width: 100%;
	max-width: 680px;
	height: auto;
}

/* Sidebar Animations */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: whitesmoke;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #f16764;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* mobile compatibility */
/*	tablet/smaller screens */
@media screen and (max-width: 992px) {
	div.left-menu
	{
		width: 260px;
	}

	div.right-contents
	{
		margin-left: 260px;
	}

	a.selected
	{
		width: 230px;
	}

	h2
	{
		font-size: 1.4em;
	}

	a.nav_menu
	{
		width: 230px;
	}
	/* text styles */

	p.emphasis_address
	{

		font-size: 1em;
	}

	p.title
	{
		font-size: 2.2vh;
	}


	p.footer
	{
		font-size: 1em;
	}

	h3
	{
		padding-right: 1em;
		font-size: 1.3em;
	}

	h2
	{
		font-size: 1.4em;
	}

	h1
	{
		font-size: 1.8em;
	}

	p
	{
		font-size: 1em;
	}

	mission
	{
		font-size: 1em;
		padding: 0.5vh;
	}

	ul
	{
		font-size: 1em;
	}
}

@media screen and (max-width: 480px) {
	img.content
	{
		display:none;
	}

	a.nav_menu
	{
		text-align: center;
		padding: 0;
		padding-top: 0.3em;
		width:100%;
		border-left: none;
	}

	a.selected
	{
		width: inherit;
	}

	div.left-menu
	{
		min-height: inherit;
		padding-bottom: 0;
		height:auto;
		position:relative;
		width: 100%;
	}

	div.right-contents
	{
		float: left;
		margin-left: 0;
	}

	a.selected
	{
		width: 100%;
	}

	h2
	{
		font-size: 1.4em;
		margin: 0;
	}
}
