/* Classes */
.img {
    width: 100%;
}

.cover {
    margin-top: 64px;
}

.navbar {
    margin-bottom: 0;
}

.well-padding {
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.gsheet {
    min-height: 800px;
}

.centered {
    text-align: center;
}

.panel-title {
    font-size: 200%;
}

.content-under-cover {
    margin-top: 6.5em;
}

.static-padding{
    padding-top: 2em;
}

#footer {
    background-color:#2196f3;
    padding:1.5em;
    margin: 0;
}

.footerText{
    color:white;
}

.footerText:hover{
    color:#b2dbfb;
    text-decoration:none;
}

.no-underline:hover{
    text-decoration:none;
}

/* Tag styles */

footer {
    background-color:#0c84e4;
    padding:1.5em;
}

/* Fonts */
p, a {
    font-size: 125%;
}

h3 {
    margin-top: 0;
}
