/*
*   Classes
*/

/* Misc */
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: lightblue;
}

.well-padding {
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.centered {
    text-align: center;
}

.footerText{
    color:white;
}

.footerText:hover{
    color:#b2dbfb;
    text-decoration:none;
}

.no-underline:hover{
    text-decoration:none;
}

/* size */
.img {
    width: 100%;
}

.gsheet {
    min-height: 800px;
}

/* font size */
.panel-title {
    font-size: 200%;
}

.link{
    font-size:100%;
}


.disclaimer-text{
    font-size:120%;
}


/* padding and margins */
.cover {
    margin-top: 64px;
}

.navbar {
    margin-bottom: 0;
}

.content-under-cover {
    margin-top: 6.5em;
}

.static-padding{
    padding-top: 2em;
}

.more-padding{
    padding-left:4em;
    padding-right:4em;
}

.button-vert-separation{
    margin-top:1.5em;
    margin-bottom:2em;
}

.minheight{
    min-height:400px;
}

.mapheight{
    min-height:550px;
}

/*
*   Button and footer styles
*/
button{
    text-decoration:none;
    color:#444;
}

footer {
    background-color:#2196f3;
    margin: 0 !important;
    padding-top: 1.5em;
    height: 155px;
    width: 100%;
}

/*
*   Fonts  and other tags
*/
a {
    font-size: 125%;
}

p{
    font-size:140%;
}

h3 {
    margin-top: 0;
}

ul {
    padding-left:1em;
}
